<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">You walk it, You Talk It, You've Got It!</h2>
                <hr class="light">
                <p class="text-faded">Pageants Eye is the first ever initiative taken to change the narrative of pageants in Kenya. We provide real-time solutions to aspiring and current title holders, beauty kings and queens. </p>
                <a href="#services" class="btn btn-default btn-xl">What we offer.</a>
            </div>
        </div>
    </div>
</section>
