<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Pageant Coaching</h3>
                    <p class="text-muted">We partner and work with the best pageant coaches to ensure you get ready for your pageant in good time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Shop with us</h3>
                    <p class="text-muted">We specialize in making the best creative wear designs for your pageants and better still, we do deliveries!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Pageant Gossip</h3>
                    <p class="text-muted">We have a blog on all things pageants! Keep tuned for all things pageant tips, pageant news and pageant gossip!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Pageant Consultation</h3>
                    <p class="text-muted">Talk to us and let us stress on your behalf! We are here to guide you through winning your next pageant.</p>
                </div>
            </div>
        </div>
    </div>
</section>
